.container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 0 auto; }

sidebar {
  width: 160px;
  background: #2f3032;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center; }
  sidebar .logo {
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: #c7af83;
    margin-top: 30px;
    margin-bottom: 40px; }
  sidebar .menu-button {
    color: white;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
  sidebar .menu-button:hover {
    background: #252628;
    border-left: 4px solid #d9be8f;
    cursor: pointer; }
  sidebar .languages {
    margin-top: 280px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px; }
    sidebar .languages .eng {
      margin-left: 5px; }
  sidebar .social-media {
    color: white;
    margin-top: 15px; }
    sidebar .social-media .fab {
      margin: 0 5px; }

.main-container {
  width: 1240px;
  padding: 50px; }

header .toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  header .toolbar .fas {
    font-size: 25px; }
  header .toolbar .user .fas {
    margin: 0 15px;
    font-size: 25px;
    color: #b2b2b2; }
  header .toolbar .user .fa-bell {
    position: relative; }
  header .toolbar .user .fa-bell:after {
    content: "";
    display: block;
    position: absolute;
    height: 7px;
    width: 7px;
    top: -1px;
    right: -4px;
    background: red;
    border-radius: 50%; }
header .separator {
  display: flex;
  justify-content: center; }
  header .separator .line {
    border-bottom: 1px solid #dadada;
    width: 100%; }
  header .separator img {
    margin: 0 15px; }

.recipesChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .recipesChoice .choiceMenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0; }
    .recipesChoice .choiceMenuContainer .choiceMenu {
      display: flex;
      justify-content: flex-start;
      flex-direction: row; }
      .recipesChoice .choiceMenuContainer .choiceMenu :first-child {
        border-left: 1px solid #b2b2b2; }
      .recipesChoice .choiceMenuContainer .choiceMenu .choiceMenuButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #b2b2b2;
        border-top: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        width: 155px;
        height: 34px;
        color: #b2b2b2; }
    .recipesChoice .choiceMenuContainer .acceptMenu {
      display: flex;
      justify-content: space-between;
      flex-direction: row; }
      .recipesChoice .choiceMenuContainer .acceptMenu :first-child {
        margin-left: 20px; }
      .recipesChoice .choiceMenuContainer .acceptMenu .accept {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #b2b2b2;
        width: 155px;
        height: 34px;
        color: #b2b2b2; }
      .recipesChoice .choiceMenuContainer .acceptMenu .accept:hover {
        background: #c7b084;
        cursor: pointer;
        color: white; }
  .recipesChoice .title {
    margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
